<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bibles.englishbible.cebuanobible">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="bibles.englishbible.cebuanobible.verseActivity"
            android:label="@string/title_activity_verse"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="bibles.englishbible.cebuanobible.EditNotesActivity"
            android:label="Update Notes" />
        <activity
            android:name="bibles.englishbible.cebuanobible.AddNotesActivity"
            android:label="Add Notes" />
        <activity
            android:name="bibles.englishbible.cebuanobible.NotesViewActivity"
            android:label="Notes" />
        <activity
            android:name="bibles.englishbible.cebuanobible.NotesActivity"
            android:label="All Notes" />
        <activity android:name="bibles.englishbible.cebuanobible.SettingsActivity" />
        <activity android:name="bibles.englishbible.cebuanobible.BookmarkActivity" />
        <activity
            android:name="bibles.englishbible.cebuanobible.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="bibles.englishbible.cebuanobible.PraisesActivity" />
        <activity android:name="bibles.englishbible.cebuanobible.LyricsActivity" />
        <activity android:name="bibles.englishbible.cebuanobible.SongsActivity" />
    </application>

</manifest>